*   {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body    {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(f401.jpg);
    background-repeat: no-repeat;
    background-attachment: none;
    background-position: center;
    background-size: cover;
}

.wrapper    {
    width: 420px;
    background: #FFF220;
    color: #000000;
    padding: 25px;
    border-radius: 25px;
    border: 2.5px solid;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    background: #ffffff;
    margin: 30px 0;
    border-radius: 40px;
}

.input-box input    {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    border: 2px splix rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
    box-shadow: 0 0 10px;
}

.input-box input::placeholder   {
    color: #000000;
}

.input-box i    {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot   {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input    {
    accent-color: #000000;
    margin-right: 3px;
}

.remember-forgot a  {
    color: #000000;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn   {
    width: 100%;
    height: 25px;
    background: #FFFF;
    border: none;
    outline: none;
    border-color: transparent;
    border-radius: 40px;
    color: #000000;
    box-shadow: 0 0 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

h5 a{
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    
}

h5 a:hover {
    text-decoration: underline;
}

